﻿@{
    ViewData["Title"] = "BookSeat";
    int count = 0;
}
<button class="btn btn-outline-dark">Back</button>
<div style="display: flex; justify-content: center;">
    <h1>BookSeat</h1>
</div>
<div class="row">
    <div class="col-12 wagon-wrapper">
        <table class="table table-bordered" id="wagon">
            <tbody style="padding: 20px;">
                @for (int j = 1; j <= 4; j++)
                {
                    <tr>
                        @for (int i = 1; i <= 12; i++)
                        {
                            if (i % 4 != 0 || i == 12)
                            {
                                <td>
                                    <div id="@count" class="square unchoosen " onclick="changeColor(this)">
                                        <div style="position: absolute;">@(count + 1)</div>
                                    </div>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <div id="@count" class="square unchoosen" onclick="changeColor(this)">
                                        <div style="position: absolute;">@(count + 1)</div>
                                    </div>
                                </td>
                                <td></td>
                            }
                            count++;
                        }
                    </tr>
                    if (j == 2)
                    {
                        <tr><td></td></tr>
                    }
                }

            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-3">
            <button class="btn btn-success">Booking</button>
        </div>
    </div>
</div>

<script>
    var selectedSeats = [];

    function changeColor(element) {
        var seatIndex = element.id;
        var seatIndexPosition = selectedSeats.indexOf(seatIndex);
        if (!element.classList.contains("disabled")) {
            if (seatIndexPosition === -1) {
                selectedSeats.push(seatIndex);
                element.classList.remove("unchoosen")
                element.classList.add("choosen")
            } else {
                selectedSeats.splice(seatIndexPosition, 1);
                element.classList.add("unchoosen")
                element.classList.remove("choosen")
            }
        }
        console.log(selectedSeats)
    }

</script>

<style>
    .square {
        width: 100%;
        height: 50px;
        background-color: lightblue;
        border-radius: 10px;
        margin: 5px;
        position: relative;
    }

        .square::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 40%;
            background-color: blueviolet;
        }

    .choosen {
        background-color: lightgreen;
    }

    .unchoosen {
        background-color: lightblue;
    }

    .wagon-wrapper {
        background-color: #FFEBCD;
        border-radius: 50px;
        padding: 10px;
    }

    #wagon {
        border-color: transparent;
    }
</style>