﻿@{
    ViewData["Title"] = "My ticket";
}

<button class="btn btn-outline-dark">Back</button>

<div style="display: flex; justify-content: center;">
    <h1>My ticket</h1>
</div>
<div id="wrapper">
    <table class="table table-bordered" id="table--ticket">
        <thead>
            <tr>
                <th scope="col">Train Name</th>
                <th scope="col">Date</th>
                <th scope="col">From -> To</th>
                <th scope="col">Slot</th>
                <th scope="col" width="200px">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr class="train--row not--yet">
                <th scope="row">Test</th>
                <td>09/11/2023</td>
                <td>HN -> SG</td>
                <td>2</td>
                <td class="train--action">
                    <div style="display:flex; justify-content: flex-end">
                        <button class="btn btn-warning">See details</button>
                        <button class="btn btn-danger">Cancel</button>
                    </div>
                </td>
            </tr>
            <tr class="train--row not--yet">
                <th scope="row">Test</th>
                <td>09/11/2023</td>
                <td>HN -> SG</td>
                <td>2</td>
                <td class="train--action">
                    <div style="display:flex; justify-content: flex-end">
                        <button class="btn btn-warning">See details</button>
                        <button class="btn btn-danger">Cancel</button>
                    </div>
                </td>
            </tr>
            <tr class="train--row not--yet">
                <th scope="row">Test</th>
                <td>09/11/2023</td>
                <td>HN -> SG</td>
                <td>2</td>
                <td class="train--action">
                    <div style="display:flex; justify-content: flex-end">
                        <button class="btn btn-warning">See details</button>
                        <button class="btn btn-danger">Cancel</button>
                    </div>
                </td>
            </tr>
            <tr class="train--row run">
                <th scope="row">Test</th>
                <td>09/11/2023</td>
                <td>HN -> SG</td>
                <td>2</td>
                <td class="train--action">
                    <div style="display:flex; justify-content: flex-end">
                        @* <button class="btn btn-primary">See details</button> *@
                        <button class="btn btn-danger">Cancel</button>
                    </div>
                </td>
            </tr>

        </tbody>
    </table>

</div>
<style>
    #wrapper {
        border: black 2px solid;
        padding: 5px;
    }

    #table--ticket {
        border-color: transparent;
        border-collapse: separate;
        border-spacing: 0 10px;
    }

    thead {
        text-align: center;
    }

    .train--row td {
        background-color: lightgreen;
        border-radius: 10px;
        text-align: center;
    }

    .train--row {
        text-align: center;
    }

        .train--row th {
            border-radius: 10px;
        }

    .run th,
    .run td {
        background-color: indianred;
        border: 1px brown solid;
    }

    .not--yet th,
    .not--yet td {
        background-color: lightgreen;
        border: 1px green solid;
    }

    .train--row .train--action {
        background-color: transparent;
        border: none;
        padding: 0;
    }

</style>