﻿@model IEnumerable<PRN211_Project_Group_4.Models.Trip>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>

    <h1 class="page-title">Trips Schedule</h1>

    <p>
        <button> <a asp-action="Create">Create New</a> </button>
    </p>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Slot)
                </th>
                <th>
                    Train Name
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    Start
                </th>
                <th>
                    End
                </th>
                
             
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="table-row">
                    <td>
                        @Html.DisplayFor(modelItem => item.Slot)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Train.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @{
                            string statusMessage = item.Status.HasValue ? (item.Status.Value ? "Tickets Left" : "Sold out") : "No information";
                        }
                        @Html.DisplayFor(modelItem => statusMessage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Route.Start.Location1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Route.End.Location1)
                    </td>
                    
                   
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.TripId">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.TripId"> Details </a>
                        <a asp-action="Delete" asp-route-id="@item.TripId"> Delete </a>
                        <a asp-area="" asp-controller="Home" asp-action="Booking">Booking</a>
                    </td>
                    @*  <td>
                @{
                Account a = new Account();
                }
                @{
                if (a.GetAccountStatus)
                {
                <a asp-action="Edit" asp-route-id="@item.TripId">Edit</a>
                <a asp-action = "Details" asp-route-id = "@item.TripId" > Details </a>
                <a asp-action = "Delete" asp-route-id = "@item.TripId"> Delete </a>
                <a asp-area="" asp-controller="Home" asp-action="Booking">Booking</a>
                }
                else
                if (!a.GetAccountStatus)
                {
                <a  asp-area="" asp-controller="Home" asp-action="Booking">Booking</a>
                }
                }

                </td> *@
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
